body {
    font-family: 'Bentham', serif;
    background-image: url(../assets/img/bg.png);
    /* background-position: center center; Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

header {
    height: 32px;
    background-image: url(../assets/img/bg.png);
    background-position: top center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

.bottom-bar-nav {
    overflow: scroll;
}

.bottom-bar-nav a {
    font-family: 'Lato', sans-serif;
    color: #718096;
    font-size: 12px;
}

.bottom-bar-nav a:active, a:focus {
    text-decoration: none;
    color: #48BB78;
}

section {
    height: 100vh;
}

.wrapper {
    background: white;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #48BB78;
}



/* Countdown CSS */
.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown-circles span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}

/* end of count down */